* {
	user-select: none;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.grid {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 250px;
	grid-gap: 10px;
	padding: 10px;
}

.image-container {
	overflow: hidden;
	padding: 2%;
	width: 100%;
	justify-self: center;
	border-radius: 5px;
	background-color: none;
	transform: translate3d(0, 0, 1px);
	-webkit-transform: translate3d(0, 0, 1px);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.image-container:hover {
	box-shadow: 0 0 10px white;
}

.image {
	border-radius: 5px;
	padding-top: 2%;
	height: 85%;
	width: 100%;
	object-fit: scale-down;
}

.lazy {
	opacity: 0.1;
	will-change: opacity;
	transition: all 1s;
}

.loaded {
	opacity: 1;
}

.filename {
	width: 100%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.folder {
	margin-top: 5px;
	padding: 15px;
	display: flex;
	width: 100%;
	background-color: hsl(0, 0%, 17%);
	color: white;
	border: 0;
}

.folder-title {
	padding-left: 10px;
	text-align: left;
	flex-grow: 1;
}

.folder:hover {
	box-shadow: 0 0 10px hsl(60, 65%, 90%);
}