* {
	user-select: none;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

.grid {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 250px;
	grid-gap: 10px;
	padding: 10px;
}

.image-container {
	overflow: hidden;
	padding: 2%;
	width: 100%;
	justify-self: center;
	border-radius: 5px;
	background-color: none;
	transform: translate3d(0, 0, 1px);
	-webkit-transform: translate3d(0, 0, 1px);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.tooltip {
	position: relative;
}

.tooltip-text {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: 0s opacity;
	width: 100%;
	background-color: black;
	color: #fff;
	text-align: left;
	padding: 10px;
	border-radius: 6px;
	white-space: pre;
}

.tooltip:hover .tooltip-text {
	opacity: 0.8;
	visibility: visible;
	transition-delay: 1s;
}

button.codicon+.tooltip-text {
	width: auto;
	transform: translate(5rem, 1.8rem);
	background-color: hsl(240, 1%, 14%);
	padding: 6px;
	border-radius: 0px;
	border: 2px solid white;
}

.image-container:hover {
	box-shadow: 0 0 10px white;
}

.image {
	border-radius: 5px;
	padding-top: 2%;
	height: 85%;
	width: 100%;
	object-fit: scale-down;
}

.lazy {
	opacity: 0.1;
	will-change: opacity;
	transition: all 1s;
}

.loaded {
	opacity: 1;
}

.filename {
	width: 100%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.folder {
	margin-top: 5px;
	padding: 15px;
	display: flex;
	width: 100%;
	background-color: hsl(0, 0%, 17%);
	color: white;
	border: 0;
}

.folder:hover {
	box-shadow: 0 0px 10px hsl(60, 65%, 90%);
}

.folder-title {
	padding-left: 10px;
	text-align: left;
	flex-grow: 1;
}

.folder-arrow {
	margin-top: -2px;
}

.folder-count {
	display: flex;
	flex-grow: 1;
	justify-content: right;
	align-items: center;
	color: white;
	font-family: arial;
}

.toolbar {
	position: sticky;
	z-index: 1000;
	top: 0;
	padding: 15px;
	display: flex;
	flex-grow: 1;
	background-color: hsl(0, 0%, 17%);
}

.toolbar-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.codicon {
	padding: 3px;
	border: 0;
	background-color: hsl(0, 0%, 17%);
	color: white;
}

.codicon:hover {
	background-color: hsl(180, 0%, 21%);
	border-radius: 5px;
}

.sort-options {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
}

.sort-options span {
	font-size: 15px;
	margin-left: 10px;
	margin-right: 10px;
	align-items: center;
	justify-content: center;
}

.dropdown {
	padding: 6px;
	background-color: hsl(0, 0%, 23%);
	color: white;
	border-width: 0px;
}

.dropdown:checked {
	border-width: 0px;
}

select option {
	background-color: hsl(0, 0%, 23%);
	color: white;
	border-radius: 0px;
}